#menu_bar{
	font-size: 50px;
	background-color: #BBEE33;
	color: #444444;
	border-radius: 5px;
	box-shadow: 2px 2px 10px 1px #222;
	padding: 20px;
	font-family:helvetica;
	position: fixed;
    top: -35px;
    left: 0;
	width: 100%;
	z-index: 1;
}
#sect1{
	font-family: arial;
	color: #777777;
	background: #EEEEEE;
	padding: 20px;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 5px;
	box-shadow: 2px 2px 10px 1px #555;
	position: relative;
	top: 120px;
	/* letter-spacing: 0.5em; */
}

.header1{
	color: #99AA22;
	font-family: arial;
	font-size: 25px;
}
.sect2{
	color: #777777;
	background: rgba(0.4,0.4,0.4,0.9);
	padding: 15px;
	margin-left: 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 10px 1px #777;
}

table{
	border-style: groove;	
	border-color: #BBEE88;
	border-width: 10px;
	background: #EEEEEE;
}

#nav_all{
	position: relative;
	bottom: -100px;
	padding-top: 10px;
	padding-bottom: 1px;
	width: 100%;
	/* border-radius: 5px; */
}

#nav_all ul li{
	display: inline;
	color: #EEEEEE;
	font-family: verdana;
}

body{
	background: white url(bg3.jpg) no-repeat top right;
	background-size: cover;
	background-attachment: fixed;
}


a:link {
    color: #EEEEEE;
}

a:visited {
    color: purple;
}

a:hover{
	color: #99AA22;
}